/* PAGE */

.page{
  display:none;
}

.page.active{
  display:block;
}

/* FOOTER */

.site-footer{
  text-align:center;
  padding:22px;
  border-top:1px solid var(--border);
  color:var(--muted);
  font-size:.8rem;
}

.site-footer b{
  color:var(--accent);
}
